.carousel-content(data-slideshow-content)
  .slider.responsive
    .slide-item
      +thumbnail({title: 'besøg bamseven', href: '#', text: '', src:'./images/upload/photo-5.jpg', alt:'photo-9', desc: 'Besøg Bamsevens verden, hvor du bl.a. kan klæde Bamseven ud og løse dilemmaer.'})
    .slide-item
      +thumbnail({title: 'Gå til vores webshop', href: '#', text: '', src:'./images/upload/photo-6.jpg', alt:'photo-9', desc: 'Her kan du bestille kufferten, ekstra materiale og kurser. '})
    .slide-item
      +thumbnail({title: 'kursuskalender', href: '#', text: '', src:'./images/upload/photo-4.jpg', alt:'photo-9', desc: 'Vi holder løbende instruktørkurser, opfølgningskurser og rytmikkurser rundt i landet.'})
    .slide-item
      +thumbnail({title: 'besøg bamseven', href: '#', text: '', src:'./images/upload/photo-5.jpg', alt:'photo-9', desc: 'Besøg Bamsevens verden, hvor du bl.a. kan klæde Bamseven ud og løse dilemmaer.'})
    .slide-item
      +thumbnail({title: 'Gå til vores webshop', href: '#', text: '', src:'./images/upload/photo-6.jpg', alt:'photo-9', desc: 'Her kan du bestille kufferten, ekstra materiale og kurser. '})
    .slide-item
      +thumbnail({title: 'kursuskalender', href: '#', text: '', src:'./images/upload/photo-4.jpg', alt:'photo-9', desc: 'Vi holder løbende instruktørkurser, opfølgningskurser og rytmikkurser rundt i landet.'})
  +button-1({type: 'button', title: 'Previous'}).wi-icon.arrow.arrow-left.slick-prev
  +button-1({type: 'button', title: 'Next'}).wi-icon.arrow.arrow-right.slick-next
