header
  .grid-fluid: .row
    .col-md-3.col-xs-8
      +img-link({title:'Fri for Mobberi', href: 'index.html', alt: 'logo', src: 'images/logo.png', nameclass: 'logo'})
    .col-xs-4.col-md-1.group-menu.right(data-menu-control)
      +link(title='search').search
      span.hidden-md.hidden-lg
        +link(title='menu').menu
    .col-md-8.col-xs-12.desktop-menu
      +nav([{title: 'Om Fri For Mobberi', text: 'Om Fri For Mobberi <span class="icon-arrow hidden-md hidden-lg"></span>', href: 'http://baboloo.si/'}, {title: 'Om Mobning', text: 'Om Mobning <span class="icon-arrow hidden-md hidden-lg"></span>', href: 'subpage-open.html'}, {title: 'Dig Og Dit Barn', text: 'Dig Og Dit Barn <span class="icon-arrow hidden-md hidden-lg"></span>', href: 'subpage-listview.html'}, {title: 'Kommuner', text: 'Kommuner <span class="icon-arrow hidden-md hidden-lg"></span>'}, {title: 'Kurser', text: 'Kurser <span class="icon-arrow hidden-md hidden-lg"></span>'}, {title: 'Download', text: 'Download <span class="icon-arrow hidden-md hidden-lg"></span>', href: 'subpage-listview.html'}, {title: 'Webshop', text: 'Webshop <span class="icon-arrow hidden-md hidden-lg"></span>', href: 'shop.html'}, {title: 'Kontakt', text: 'Kontakt <span class="icon-arrow hidden-md hidden-lg"></span>', href: 'shop.html'}
        ]).main-menu
