header
  .grid-fluid: .row
    .col-md-3.col-xs-8
      +img-link({title:'Fri for Mobberi', href: 'index.html', alt: 'logo', src: 'images/logo-1.png', nameclass: 'logo'})
    .col-xs-4.col-md-1.group-menu.right(data-menu-control)
      +link(title='search').search
      span.hidden-md.hidden-lg 
        +link(title='menu').menu
    .col-md-8.col-xs-12.desktop-menu
      +nav([{title: 'Home', text: 'Home <span class="icon-arrow hidden-md hidden-lg"></span>', href: 'index.html'}, {title: 'Om Mobning', text: 'Om Mobning <span class="icon-arrow hidden-md hidden-lg"></span>', href: 'subpage-open.html'}, {title: 'Dig Og Dit Barn', text: 'Dig Og Dit Barn <span class="icon-arrow hidden-md hidden-lg"></span>', href: 'subpage-listview.html'}
        ]).main-menu