.grid-fluid.list-thumb
  .row
    .col-sm-4
      +thumbnail({title: 'Fakta om mobning', href: '#', text: '', src:'./images/upload/photo-2.jpg', alt:'photo-9', desc: 'Hvad er mobning? Hvor mange elever mobbes i Danmark? Se fakta om mobning her.'})
    .col-sm-4
      +thumbnail({title: 'Helle Rabøl om mobning', href: '#', text: '', src:'./images/upload/photo-3.jpg', alt:'photo-9', desc: 'Se forsker Helle Rabøl fortælle om Fri for Mobberis mobbesyn. '}).video-item
    .col-sm-4
      +thumbnail({title: 'kursuskalender', href: '#', text: '', src:'./images/upload/photo-4.jpg', alt:'photo-9', desc: 'Vi holder løbende instruktørkurser, opfølgningskurser og rytmikkurser rundt i landet.'})
  .row
    .col-sm-4
      +thumbnail({title: 'besøg bamseven', href: '#', text: '', src:'./images/upload/photo-5.jpg', alt:'photo-9', desc: 'Besøg Bamsevens verden, hvor du bl.a. kan klæde Bamseven ud og løse dilemmaer.'})
    .col-sm-4
      +thumbnail({title: 'Gå til vores webshop', href: '#', text: '', src:'./images/upload/photo-6.jpg', alt:'photo-9', desc: 'Her kan du bestille kufferten, ekstra materiale og kurser. '})
    .col-sm-4
      +thumbnail({title: 'kontakt os', href: '#', text: '', src:'./images/upload/photo-7.jpg', alt:'photo-9', desc: 'Her finder du vores medarbejdere, som er klar til at hjælpe dig.'})