.slider-header(data-slider)
  .inner
    .preview
      +list-slider([{alt:'photo-9', desc: 'Mobning er fortsat et stort og reelt problem for mange danske børn', text: 'Læs mere', src: 'images/upload/photo-1.jpg'}, {alt:'photo-10', desc: 'Mobning er fortsat et stort og reelt problem for mange danske børn', text: 'Læs mere', src: 'images/upload/photo-1.jpg'}, {alt:'photo-9', desc: 'Mobning er fortsat et stort og reelt problem for mange danske børn', text: 'Læs mere', src: 'images/upload/photo-1.jpg'}]).slides
  .controls
    +list-link([{title: '1'}, {title: '2'}, {title: '3'}])
